body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.content-body {
    background-color: aliceblue;
}

.loading-modal {
    position: absolute;
    display: block;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.loading-bar {
    position: relative;
    color: dodgerblue;
    font-size: 100px;
    left: calc(50% - 33.3px);
}

.error-message {
    display: block;
    padding: 5px;
    color: red;
    background-color: #ffe5e5;
    border: 2px solid red;
    font-size: 13px;
}

.info-message {
    display: block;
    padding: 5px;
    color: #0088ff;
    background-color: #e5ecff;
    border: 2px solid #0088FF;
    font-size: 13px;
}

.side-panel {

}