input {
    padding: 5px 0;
    border: 1px solid black;
    outline: none;
    width: 99%;
}

.input span {
    color: red;
    font-size: 12px;
    display: inline-block;
}

.input label {
    font-size: 14px;
}

.input.invalid input {
    border: 1px solid red;
}