ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    border-bottom: 2px solid dodgerblue;
}

li button {
    border: none;
    background-color: white;
    border-top: 2px solid white;
    cursor: pointer;
    outline: none;
    padding: 18px 16px;
}

li.auth {
    float: right;
}

li.auth p {
    margin-right: 10px;
}

li.auth p button {
    color: dodgerblue;
    text-decoration: none;
    display: inline;
    padding: 0;
}

li.auth p button:hover {
    color: deepskyblue;
    border-top: 2px solid white;
}

li.sign-up button {
    color: white;
    background-color: dodgerblue;
    border-top: 2px solid dodgerblue;
}

li.sign-up button:hover {
    color: white;
    background-color: deepskyblue;
    border-top: 2px solid deepskyblue;
}

li {
    float: left;
}

li.selected a,button {
    color: deepskyblue;
    border-top: 2px solid deepskyblue;
}

li a,button {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    border-top: 2px solid white;
}

li a:hover,button:hover {
    color: deepskyblue;
    border-top: 2px solid deepskyblue;
}