.modal {
    position: absolute;
    display: block;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    position: relative;
    margin: 80px auto;
    width: 25%;
    min-width: 350px;
    padding: 25px 50px;
    background-color: white;
}

.modal-error {
    display: block;
    padding: 10px;
    color: red;
    background-color: #ffd1dd;
    border: 2px solid red;
}

.modal-close {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 14px;
    top: 0;
    color: gray;
    cursor: pointer;
}

.modal-close:hover {
    color: #b5b5b5;
}